
*{
    margin:0;
}
body{
    background-color: rgb(22, 22, 22);
}
/*Bg video*/
.hero{
    background: rgba(0,0,0,0.65);
    color:white;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    min-height: 70vh;
}
.hero p{
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 7em;
    font-size: 1.5vmin;
}
.video-bg{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

/*EXPLORE Title*/
/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
.title{
    font-family: "Eater", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10vmin;
    margin-top:2em;
    display: flex;
    text-align: center;
    justify-content: center;
}
/*Title Color*/
.h{
    color:orange
}


/*EXPLORE Button*/
.Button{
    text-align: center;
}
.Button a{
    color:white;
    text-decoration: none;
    padding:15px 50px;
    border:2px solid;
    border-radius: 1em;
    border-color:orange;
    font-size: 2vmin;
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.Button a:hover{
    background-color: rgb(252, 173, 3);
    color:white;
    text-decoration: none;
    padding:15px 50px;
    border:2px solid;
    border-radius: 1em;
    border-color:rgb(252, 173, 3)
}
/*Lorem Dec*/
.Desc{
    text-align: center;
}
.Desc p{
    width: 50%;
    margin-top:3em;
    font-size: 1em;
}
.title-re{
    margin-left: 3em;
    color:white;
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}
.line-re{
    display: flex;
    width: 300px;
    height:3px;
    background-color: #9c004e;
    margin: 7px auto;
}
/*Recommened Anime*/
.card-container{
    display: flex;
    margin-left: 2em;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.3s ease;
}
.card:hover{
    background-color: rgb(73, 73, 73);
}
.card img:hover{
    color: rgb(73, 73, 73);
    filter: brightness(70%);
    cursor: pointer;
}
.card{
    background-color: rgb(46, 46, 46);
    width:260px ;
    border-radius: 8px;
    overflow: hidden;
    margin:30px;
}
.card img{
    width: 100%;
}
.card-content{
    margin-top: -1.5em;
    padding:20px;
    font-size:1.5vmin;
    color:white;
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
.line{
    display: flex;
    width: 200;
    height:3px;
    background-color: #9c004e;
    margin: 7px auto;
}
.icon-re{
    display: flex;
    width: 1.5em;
    margin: 1em;
}
.icon-re-1{
    display: flex;
    width: 1.5em;
    margin-top: 1em;
}
.icon-re-2{
    display: flex;
    width: 1.5em;
    margin-top: 1.5em;
}




